In [2]:
import pandas as pd

In [6]:
corpus = pd.read_table('data/check_tokens.txt', header=None, names=['Terms'])
corpus[:5]

          Terms
0  'ala wai nui
1        makole
2       naupaka
3            ha
4         haole

In [8]:
botany = pd.read_csv('data/vernaculars.csv', header=0, names=['TSN', 'Taxon1', 'Taxon2', 'Vernacular'])
botany[:5]

,TSN,Taxon1,Taxon2,Vernacular
0,35157,Bobea,sandwicensis,'ahakea
1,30629,Nothocestrum,latifolium,'aiea
2,537800,Nothocestrum,longifolium,'aiea
3,504864,Rubus,macraei,'akala
4,18277,Peperomia,subpetiolata,'ala 'ala wai nui

In [35]:
to_check = "Fendler's " + 'aster' # corpus.sample(1).iloc[0]['Terms']

print (to_check)

# can be Fendler's or Fendler
found_df = botany[botany['Vernacular'].str.contains(to_check, case=False)]

Fendler's aster

In [43]:
found_df.shape

(2, 4)

In [45]:
if found_df.shape[0] > 0:
    item = found_df[0:1]
else:
    item = None

In [57]:
print (item)

        TSN                               Taxon1    Taxon2       Vernacular
6015  35569  Aster                                fendleri  Fendler's aster

In [56]:
if item is not None:
    # generate 140 chars
    full_name = '{0} {1}'.format(item.iloc[0]['Taxon1'].strip(), item.iloc[0]['Taxon2'].strip())
    vernacular = item.iloc[0]['Vernacular'].strip()
    
    print (full_name)
    print (vernacular)

Aster fendleri
Fendler's aster

In [59]:
'''
{vernacular} -> [Taxon]

'‚ùÄ·™•üåº‚ùÅüå≥êá≤'

'''


def generate_tweet(taxon='', vernacular=''):
    if taxon and vernacular:
        max_len - max(len(taxon), len(vernacular))
        chars_left = 140 - len(taxon) - len(vernacular)
        print (chars_left)

        
generate_tweet(full_name, vernacular)

111